@use '../../styles/variables' as var;

.dashboard-time-container {
    width: 258px;
    height: 263px;
    border-radius: 5px;
    background: red;
    position: relative;

    .dynamique-background {
        display: none;
        width: 258px;
        height: 263px;
        position: absolute;
        display: flex;
        justify-content: space-between;

        .dynamique-background-red {
            border-radius: 5px 0 0 5px;
            height: 263px;
            display: block;
        }

        .dynamique-background-dark {
            height: 263px;
            display: block;
            background: #e60000;
        }
    }

    .dashboard-time-title {
        position: absolute;
        top: 30px;
        left: 30px;
        color: rgba(white, .5);
        font-size: 15px;
        font-weight: 500;
        width: 150px;
    }

    .dashboard-time-content {
        .custom-tooltip {
            background-color: #fff;
            padding: 5px;
            font-size: 8px;
            font-weight: 500;
        }

        .recharts-tooltip-cursor {
            opacity: 0;
        }

    }

    #line-chart-index {
        li {
            color: #ffffff;
            opacity: 0.5;
            font-size: 12px;
            font-weight: 500;
        }

        position: absolute;
        top: 87%;
        display: flex;
        justify-content: space-between;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}