@use '../../styles/variables' as var;

.dashboard-KPI-container {
    width: 258px;
    height: 263px;
    background: rgba(var.$greyColor, 0.05);
    position: relative;
    border-radius: 5px;

    .dashboard-KPI-title {
        position: absolute;
        top: 24px;
        left: 30px;
        font-size: 15px;
        font-weight: 500;
    }

    .dashboard-KPI-score {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        width: 60px;
        color: var.$greyColor;

        span {
            color: black;
            font-size: 26px;
        }

    }

    .recharts-radial-bar-background-sector {
        fill: rgba(var.$greyColor, 0.02)
    }
}